{{ define "main" }}
<article>

    {{ if ne .Params.hide_title true }}
    <header class="mb-8">
        <h1 class="text-4xl font-bold">{{ .Title }}</h1>
    </header>

    {{ with .Params.images }}
        {{ with index . 0 }}
        <figure class="mb-8">
            <img
                class="w-full rounded-lg"
                src="{{ . }}"
                alt=""
                loading="lazy"
            >
        </figure>
        {{ end }}
    {{ end }}
    {{ end }}

    <section class="prose max-w-none">
        {{ .Content }}
    </section>

</article>
{{ end }}
